openapi: 3.2.0
info:
  title: Swell Io Gift Cards API
  version: 2025-01
  license:
    name: API Profile — API Evangelist
    url: https://apievangelist.com
  description: 'Operations tagged Gift Cards across 2 of this provider''s published API definitions: swell-backend-api-openapi.yml, swell-frontend-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.swell.store
  description: Production Backend API
- url: https://{storeId}.swell.store
  description: Per-store Frontend API endpoint
  variables:
    storeId:
      default: my-store
      description: Your Swell store ID (subdomain).
tags:
- name: Gift Cards
  description: Gift cards, debit transactions, and gift card products.
paths:
  /giftcards:
    get:
      tags:
      - Gift Cards
      summary: List Gift Cards
      operationId: listGiftcards
      responses:
        '200':
          description: Gift cards.
      security:
      - SwellStoreId: []
        SwellSecretKey: []
    post:
      tags:
      - Gift Cards
      summary: Create Gift Card
      operationId: createGiftcard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created.
      security:
      - SwellStoreId: []
        SwellSecretKey: []
    servers:
    - url: https://api.swell.store
      description: Production Backend API
  /giftcards/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - Gift Cards
      summary: Retrieve Gift Card
      operationId: getGiftcard
      responses:
        '200':
          description: Gift card.
      security:
      - SwellStoreId: []
        SwellSecretKey: []
    put:
      tags:
      - Gift Cards
      summary: Update Gift Card
      operationId: updateGiftcard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated.
      security:
      - SwellStoreId: []
        SwellSecretKey: []
    servers:
    - url: https://api.swell.store
      description: Production Backend API
  /api/giftcards/{code}:
    parameters:
    - name: code
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Gift Cards
      summary: Retrieve Gift Card Balance
      operationId: frontendGetGiftcard
      responses:
        '200':
          description: Gift card balance and status.
      security:
      - SwellPublicKey: []
    servers:
    - url: https://{storeId}.swell.store
      description: Per-store Frontend API endpoint
      variables:
        storeId:
          default: my-store
          description: Your Swell store ID (subdomain).
components:
  parameters:
    PathId:
      name: id
      in: path
      required: true
      description: The object ID of the resource.
      schema:
        type: string
        pattern: ^[a-f0-9]{24}$
  securitySchemes:
    SwellStoreId:
      type: apiKey
      in: header
      name: X-Store-Id
      description: Your Swell store ID, found in the Developer section of the dashboard.
    SwellSecretKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Secret API key prefixed with `sk_`. Sent as `Authorization: Basic <base64(store-id:secret-key)>` or equivalent custom header by official libraries.'
    SwellPublicKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Public storefront key, prefixed with `pk_`. Pass as `Authorization: pk_...`.'
x-refined-from:
- swell-backend-api-openapi.yml
- swell-frontend-api-openapi.yml
