openapi: 3.0.3
info:
  title: Swell Backend Account Addresses Coupons API
  version: 2025-01
  description: 'Swell Backend API — the server-side REST surface for managing every resource in a Swell commerce store: products, variants, carts, orders, payments, refunds, shipments, returns, subscriptions, accounts (customers), invoices, coupons, promotions, gift cards, content, files, data models, events, and webhooks. Authenticated with a store ID and secret key. The official Node and PHP libraries connect over a custom wire protocol on port 8443 for improved performance; HTTPS REST is available at https://api.swell.store.'
  contact:
    name: Swell Developer Support
    url: https://developers.swell.is
    email: support@swell.is
  license:
    name: API Profile — API Evangelist
    url: https://apievangelist.com
servers:
- url: https://api.swell.store
  description: Production Backend API
security:
- SwellStoreId: []
  SwellSecretKey: []
tags:
- name: Coupons
  description: Coupon definitions with codes, redemptions, and discount rules.
paths:
  /coupons:
    get:
      tags:
      - Coupons
      summary: List Coupons
      operationId: listCoupons
      responses:
        '200':
          description: Coupons.
    post:
      tags:
      - Coupons
      summary: Create Coupon
      operationId: createCoupon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created.
  /coupons/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - Coupons
      summary: Retrieve Coupon
      operationId: getCoupon
      responses:
        '200':
          description: Coupon.
    put:
      tags:
      - Coupons
      summary: Update Coupon
      operationId: updateCoupon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated.
    delete:
      tags:
      - Coupons
      summary: Delete Coupon
      operationId: deleteCoupon
      responses:
        '200':
          description: Deleted.
  /api/coupons/{code}:
    parameters:
    - name: code
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Coupons
      summary: Validate Coupon Code
      operationId: frontendGetCoupon
      responses:
        '200':
          description: Coupon validity.
components:
  parameters:
    PathId:
      name: id
      in: path
      required: true
      description: The object ID of the resource.
      schema:
        type: string
        pattern: ^[a-f0-9]{24}$
  securitySchemes:
    SwellStoreId:
      type: apiKey
      in: header
      name: X-Store-Id
      description: Your Swell store ID, found in the Developer section of the dashboard.
    SwellSecretKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Secret API key prefixed with `sk_`. Sent as `Authorization: Basic <base64(store-id:secret-key)>` or equivalent custom header by official libraries.'
