openapi: 3.0.3
info:
  title: Swell Backend Account Addresses Checkout API
  version: 2025-01
  description: 'Swell Backend API — the server-side REST surface for managing every resource in a Swell commerce store: products, variants, carts, orders, payments, refunds, shipments, returns, subscriptions, accounts (customers), invoices, coupons, promotions, gift cards, content, files, data models, events, and webhooks. Authenticated with a store ID and secret key. The official Node and PHP libraries connect over a custom wire protocol on port 8443 for improved performance; HTTPS REST is available at https://api.swell.store.'
  contact:
    name: Swell Developer Support
    url: https://developers.swell.is
    email: support@swell.is
  license:
    name: API Profile — API Evangelist
    url: https://apievangelist.com
servers:
- url: https://api.swell.store
  description: Production Backend API
security:
- SwellStoreId: []
  SwellSecretKey: []
tags:
- name: Checkout
  description: Cart conversion and order placement.
paths:
  /api/cart/submit-order:
    post:
      tags:
      - Checkout
      summary: Submit Order
      operationId: frontendSubmitOrder
      description: Converts the current cart into an order. Requires billing.method and shipping.
      responses:
        '201':
          description: Order created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
components:
  schemas:
    Money:
      type: number
      format: float
    Order:
      type: object
      properties:
        id:
          type: string
        number:
          type: string
        status:
          type: string
        items:
          type: array
          items:
            type: object
        grand_total:
          $ref: '#/components/schemas/Money'
        paid:
          type: boolean
        delivered:
          type: boolean
        date_created:
          type: string
          format: date-time
  securitySchemes:
    SwellStoreId:
      type: apiKey
      in: header
      name: X-Store-Id
      description: Your Swell store ID, found in the Developer section of the dashboard.
    SwellSecretKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Secret API key prefixed with `sk_`. Sent as `Authorization: Basic <base64(store-id:secret-key)>` or equivalent custom header by official libraries.'
