openapi: 3.0.3
info:
  title: Swell Backend Account Addresses Refunds API
  version: 2025-01
  description: 'Swell Backend API — the server-side REST surface for managing every resource in a Swell commerce store: products, variants, carts, orders, payments, refunds, shipments, returns, subscriptions, accounts (customers), invoices, coupons, promotions, gift cards, content, files, data models, events, and webhooks. Authenticated with a store ID and secret key. The official Node and PHP libraries connect over a custom wire protocol on port 8443 for improved performance; HTTPS REST is available at https://api.swell.store.'
  contact:
    name: Swell Developer Support
    url: https://developers.swell.is
    email: support@swell.is
  license:
    name: API Profile — API Evangelist
    url: https://apievangelist.com
servers:
- url: https://api.swell.store
  description: Production Backend API
security:
- SwellStoreId: []
  SwellSecretKey: []
tags:
- name: Refunds
  description: Refund records linked to a payment.
paths:
  /payments/{id}/refunds:
    parameters:
    - $ref: '#/components/parameters/PathId'
    post:
      tags:
      - Refunds
      summary: Refund Payment
      operationId: refundPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundCreate'
      responses:
        '201':
          description: Refund created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
  /refunds:
    get:
      tags:
      - Refunds
      summary: List Refunds
      operationId: listRefunds
      responses:
        '200':
          description: Refunds.
components:
  schemas:
    RefundCreate:
      $ref: '#/components/schemas/Refund'
    ObjectId:
      type: string
      pattern: ^[a-f0-9]{24}$
    Money:
      type: number
      format: float
      description: Currency amount expressed in store currency.
    Refund:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ObjectId'
        payment_id:
          $ref: '#/components/schemas/ObjectId'
        amount:
          $ref: '#/components/schemas/Money'
        reason:
          type: string
        date_created:
          type: string
          format: date-time
  parameters:
    PathId:
      name: id
      in: path
      required: true
      description: The object ID of the resource.
      schema:
        type: string
        pattern: ^[a-f0-9]{24}$
  securitySchemes:
    SwellStoreId:
      type: apiKey
      in: header
      name: X-Store-Id
      description: Your Swell store ID, found in the Developer section of the dashboard.
    SwellSecretKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Secret API key prefixed with `sk_`. Sent as `Authorization: Basic <base64(store-id:secret-key)>` or equivalent custom header by official libraries.'
