openapi: 3.2.0
info:
  title: Swell Io Content API
  version: 2025-01
  license:
    name: API Profile — API Evangelist
    url: https://apievangelist.com
  description: 'Operations tagged Content across 2 of this provider''s published API definitions: swell-backend-api-openapi.yml, swell-frontend-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.swell.store
  description: Production Backend API
- url: https://{storeId}.swell.store
  description: Per-store Frontend API endpoint
  variables:
    storeId:
      default: my-store
      description: Your Swell store ID (subdomain).
tags:
- name: Content
  description: Pages, custom data models, and stored records.
paths:
  /pages:
    get:
      tags:
      - Content
      summary: List Content Pages
      operationId: listPages
      responses:
        '200':
          description: Pages.
      security:
      - SwellStoreId: []
        SwellSecretKey: []
    post:
      tags:
      - Content
      summary: Create Content Page
      operationId: createPage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created.
      security:
      - SwellStoreId: []
        SwellSecretKey: []
    servers:
    - url: https://api.swell.store
      description: Production Backend API
  /pages/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - Content
      summary: Retrieve Content Page
      operationId: getPage
      responses:
        '200':
          description: Page.
      security:
      - SwellStoreId: []
        SwellSecretKey: []
    put:
      tags:
      - Content
      summary: Update Content Page
      operationId: updatePage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated.
      security:
      - SwellStoreId: []
        SwellSecretKey: []
    delete:
      tags:
      - Content
      summary: Delete Content Page
      operationId: deletePage
      responses:
        '200':
          description: Deleted.
      security:
      - SwellStoreId: []
        SwellSecretKey: []
    servers:
    - url: https://api.swell.store
      description: Production Backend API
  /api/settings/menus:
    get:
      tags:
      - Content
      summary: List Navigation Menus
      operationId: frontendListMenus
      responses:
        '200':
          description: Menus.
      security:
      - SwellPublicKey: []
    servers:
    - url: https://{storeId}.swell.store
      description: Per-store Frontend API endpoint
      variables:
        storeId:
          default: my-store
          description: Your Swell store ID (subdomain).
  /api/content/{model}:
    parameters:
    - name: model
      in: path
      required: true
      schema:
        type: string
      description: Custom content model slug.
    get:
      tags:
      - Content
      summary: List Content Records
      operationId: frontendListContent
      responses:
        '200':
          description: Records.
      security:
      - SwellPublicKey: []
    servers:
    - url: https://{storeId}.swell.store
      description: Per-store Frontend API endpoint
      variables:
        storeId:
          default: my-store
          description: Your Swell store ID (subdomain).
  /api/content/{model}/{slug}:
    parameters:
    - name: model
      in: path
      required: true
      schema:
        type: string
    - name: slug
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Content
      summary: Retrieve Content Record
      operationId: frontendGetContent
      responses:
        '200':
          description: Record.
      security:
      - SwellPublicKey: []
    servers:
    - url: https://{storeId}.swell.store
      description: Per-store Frontend API endpoint
      variables:
        storeId:
          default: my-store
          description: Your Swell store ID (subdomain).
components:
  parameters:
    PathId:
      name: id
      in: path
      required: true
      description: The object ID of the resource.
      schema:
        type: string
        pattern: ^[a-f0-9]{24}$
  securitySchemes:
    SwellStoreId:
      type: apiKey
      in: header
      name: X-Store-Id
      description: Your Swell store ID, found in the Developer section of the dashboard.
    SwellSecretKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Secret API key prefixed with `sk_`. Sent as `Authorization: Basic <base64(store-id:secret-key)>` or equivalent custom header by official libraries.'
    SwellPublicKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Public storefront key, prefixed with `pk_`. Pass as `Authorization: pk_...`.'
x-refined-from:
- swell-backend-api-openapi.yml
- swell-frontend-api-openapi.yml
