openapi: 3.2.0
info:
  title: Swell Io Categories API
  version: 2025-01
  license:
    name: API Profile — API Evangelist
    url: https://apievangelist.com
  description: 'Operations tagged Categories across 2 of this provider''s published API definitions: swell-backend-api-openapi.yml, swell-frontend-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.swell.store
  description: Production Backend API
- url: https://{storeId}.swell.store
  description: Per-store Frontend API endpoint
  variables:
    storeId:
      default: my-store
      description: Your Swell store ID (subdomain).
tags:
- name: Categories
  description: Category tree and product taxonomy.
paths:
  /categories:
    get:
      tags:
      - Categories
      summary: List Categories
      operationId: listCategories
      responses:
        '200':
          description: Categories.
      security:
      - SwellStoreId: []
        SwellSecretKey: []
    post:
      tags:
      - Categories
      summary: Create Category
      operationId: createCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created.
      security:
      - SwellStoreId: []
        SwellSecretKey: []
    servers:
    - url: https://api.swell.store
      description: Production Backend API
  /categories/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - Categories
      summary: Retrieve Category
      operationId: getCategory
      responses:
        '200':
          description: Category.
      security:
      - SwellStoreId: []
        SwellSecretKey: []
    put:
      tags:
      - Categories
      summary: Update Category
      operationId: updateCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated.
      security:
      - SwellStoreId: []
        SwellSecretKey: []
    delete:
      tags:
      - Categories
      summary: Delete Category
      operationId: deleteCategory
      responses:
        '200':
          description: Deleted.
      security:
      - SwellStoreId: []
        SwellSecretKey: []
    servers:
    - url: https://api.swell.store
      description: Production Backend API
  /api/categories:
    get:
      tags:
      - Categories
      summary: List Categories
      operationId: frontendListCategories
      responses:
        '200':
          description: Categories.
      security:
      - SwellPublicKey: []
    servers:
    - url: https://{storeId}.swell.store
      description: Per-store Frontend API endpoint
      variables:
        storeId:
          default: my-store
          description: Your Swell store ID (subdomain).
  /api/categories/{slug}:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Categories
      summary: Retrieve Category
      operationId: frontendGetCategory
      responses:
        '200':
          description: Category.
      security:
      - SwellPublicKey: []
    servers:
    - url: https://{storeId}.swell.store
      description: Per-store Frontend API endpoint
      variables:
        storeId:
          default: my-store
          description: Your Swell store ID (subdomain).
components:
  parameters:
    PathId:
      name: id
      in: path
      required: true
      description: The object ID of the resource.
      schema:
        type: string
        pattern: ^[a-f0-9]{24}$
  securitySchemes:
    SwellStoreId:
      type: apiKey
      in: header
      name: X-Store-Id
      description: Your Swell store ID, found in the Developer section of the dashboard.
    SwellSecretKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Secret API key prefixed with `sk_`. Sent as `Authorization: Basic <base64(store-id:secret-key)>` or equivalent custom header by official libraries.'
    SwellPublicKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Public storefront key, prefixed with `pk_`. Pass as `Authorization: pk_...`.'
x-refined-from:
- swell-backend-api-openapi.yml
- swell-frontend-api-openapi.yml
