openapi: 3.0.3
info:
  title: Swell Backend Account Addresses Gift Cards API
  version: 2025-01
  description: 'Swell Backend API — the server-side REST surface for managing every resource in a Swell commerce store: products, variants, carts, orders, payments, refunds, shipments, returns, subscriptions, accounts (customers), invoices, coupons, promotions, gift cards, content, files, data models, events, and webhooks. Authenticated with a store ID and secret key. The official Node and PHP libraries connect over a custom wire protocol on port 8443 for improved performance; HTTPS REST is available at https://api.swell.store.'
  contact:
    name: Swell Developer Support
    url: https://developers.swell.is
    email: support@swell.is
  license:
    name: API Profile — API Evangelist
    url: https://apievangelist.com
servers:
- url: https://api.swell.store
  description: Production Backend API
security:
- SwellStoreId: []
  SwellSecretKey: []
tags:
- name: Gift Cards
  description: Gift cards, debit transactions, and gift card products.
paths:
  /giftcards:
    get:
      tags:
      - Gift Cards
      summary: List Gift Cards
      operationId: listGiftcards
      responses:
        '200':
          description: Gift cards.
    post:
      tags:
      - Gift Cards
      summary: Create Gift Card
      operationId: createGiftcard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created.
  /giftcards/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - Gift Cards
      summary: Retrieve Gift Card
      operationId: getGiftcard
      responses:
        '200':
          description: Gift card.
    put:
      tags:
      - Gift Cards
      summary: Update Gift Card
      operationId: updateGiftcard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated.
  /api/giftcards/{code}:
    parameters:
    - name: code
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Gift Cards
      summary: Retrieve Gift Card Balance
      operationId: frontendGetGiftcard
      responses:
        '200':
          description: Gift card balance and status.
components:
  parameters:
    PathId:
      name: id
      in: path
      required: true
      description: The object ID of the resource.
      schema:
        type: string
        pattern: ^[a-f0-9]{24}$
  securitySchemes:
    SwellStoreId:
      type: apiKey
      in: header
      name: X-Store-Id
      description: Your Swell store ID, found in the Developer section of the dashboard.
    SwellSecretKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Secret API key prefixed with `sk_`. Sent as `Authorization: Basic <base64(store-id:secret-key)>` or equivalent custom header by official libraries.'
